<h4 id="entry-name"><%= @entry.name %></h4>
<div class="row">
  <div class="col-xs-3">
    <div class="well">
      <% @entries.each do |entry| %>
        <p>
          <%= link_to entry.name, collection_entry_path(@collection, entry) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <%= image_tag(@entry.image_url, :class => 'img-responsive')  %>
    <br>
    <div class="desc">
      <p><%= @entry.description %></p>
    </div>
  </div>
  <div class="col-xs-3">
    <% if user_signed_in? %>
      <div class="well">
        <%= link_to "Edit Entry", edit_collection_entry_path(@collection, @entry) %>
        <%= link_to 'Delete', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
